<div>
    <form action="/api/player" method="post">
        <label for="name">Enter player name</label></ br>
        <input type="text" id="name" name="name">
        <input type="submit" name="submit">
    </form>
</div>