<h1 class="headers">Table tennis stats</h1>

<div>

    <h2 class="headers">Options:</h2>

    <div class="parent">

        <a class="menu-items" href="@Url.Action("Create", "Player")">Create player</a>
        <a class="menu-items" href="@Url.Action("ViewAll", "Player")">List all players</a>

    </div>

</div>