<form action="@Url.Action("CreateMatch", "Match")" method="post">
    <h1>Enter match players</h1>
    <span>
        <label for="player1">Player 1</label>
        <input type="text" id="name1" name="name1">
        <strong>:</strong>
        <input type="text" id="name2" name="name2">
        <label for="name2">Player 2</label>
    </span>

    <h1>Enter sets scores</h1>
    @for (int i = 1; i <= ViewBag.BestOf * 2; i += 2)
    {
        <span>
            <label for="score@(i - 1)">Player 1 score</label>
            <input type="number" id="score@(i - 1)" name="scores[@(i - 1)]">
            <strong>:</strong>
            <input type="number" id="score@(i)" name="scores[@(i)]">
            <label for="score@(i)">Player 2 score</label>
            <br>
        </span>
    }

    <input type="submit" name="">
</form>