<div>
    <form action="@Url.Action("BestOfN", "Match")" method="post">
        <label for="matchtypes">Select match type:</label>
        <select name="bestOf">
            <option value="1">Best of 1</option>
            <option value="3">Best of 3</option>
            <option value="5">Best of 5</option>
            <option value="7">Best of 7</option>
        </select>
        <input type="submit" name="submit">
    </form>
</div>