<h1 class="headers">Table tennis stats</h1>

<div>

    <h2 class="headers">Options:</h2>

    <div class="parent">

        <a class="menu-items" href="@Url.Action("Create", "Match")">Create match</a>
        <a class="menu-items" href="@Url.Action("ViewAll", "Match")">List all matches</a>

    </div>

</div>