@{
    ViewData["Title"] = "Season stats main page";
}

<h1>Table tennis stats</h1>
<div>
    <h2>What would you like to do?</h2>
    <a href="@Url.Action("Create", "Player")">Create player</a>
    <a href="@Url.Action("Create", "Match")">Create match</a>
</div>
