@{
    ViewData["Title"] = "Season stats main page";
}

<h1>Table tennis stats</h1>
<div>
    <h2>What would you like to do?</h2>
    <a href="@Url.Action("Create", "Player")">Create player</a><br>
    <a href="@Url.Action("Create", "Match")">Create match</a><br>
    <a href="@Url.Action("ViewAll", "Player")">List all players</a><br>
    <a href="@Url.Action("ViewAll", "Match")">List all matches</a><br>
</div>
